<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('about_me') %></h3>
    <div class="widget">
        <% if(theme['sidebar-avatar']) { %>
            <p style="text-align:center">
                <a href="https://github.com/ciphersaw" target="_blank">
                    <img id = "avatar_pic" src="<%= config['root'] %><%= theme['sidebar-avatar'] %>" width=200px height=200px title="Github"/>
                </a>
            </p>
        <% } %>

        <% if(theme['sidebar-about-description']) { %>
            <p style="font-size:18px;color:black"><%= theme['sidebar-about-description'] %></p>
        <% }%>
    </div>
  </div>
<% } %>